# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem
.idea

*.log*
.cache
.env
dist

plugin/target
plugin/dependency-reduced-pom.xml
plugin/.idea

server/cache
server/config
server/libraries
server/logs
server/plugins
server/world
server/world_nether
server/world_the_end
server/versions
server/banned-ips.json
server/banned-players.json
server/bukkit.yml
server/commands.yml
server/help.yml
server/permissions.yml
server/spigot.yml
server/usercache.json
server/version_history.json
server/whitelist.json
/.vscode

deployments
/server/crash-reports

*.sqlite
*.mca
