bundler
cache
crash-reports
libraries
logs
versions
world
world_nether
world_the_end
.console_history
banned-ips.json
banned-players.json
usercache.json
version_history.json
whitelist.json
wepif.yml
current_worlds
config
ssmb*.jar
plugins/WorldEdit