world*
cache
config
crash-reports
logs
versions
.console*
banned*
eula.txt
bukkit.yml
commands.yml
help.yml
ops.json
out.logs
permissions.yml
usercache.json
version_history.json
whitelist.json
spigot.yml
libraries