@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 8%;
    --foreground: 0 0% 98%;

    --muted: -60 41% 18.88%;
    --muted-foreground: -60 8.2% 55.9%;

    --popover: -60 48.6% 7.67%;
    --popover-foreground: -60 8.2% 97.95%;

    --card: -60 48.6% 7.67%;
    --card-foreground: -60 8.2% 97.95%;

    --border: -60 41% 18.88%;
    --input: -60 41% 18.88%;

    --primary: -60 82% 59%;
    --primary-foreground: -60 8.2% 5.8999999999999995%;

    --secondary: -60 41% 18.88%;
    --secondary-foreground: -60 8.2% 97.95%;

    --accent: -60 41% 18.88%;
    --accent-foreground: -60 8.2% 97.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -60 8.2% 97.95%;

    --ring: -60 82% 59%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient {
  background: #ec3fe1;
  background: linear-gradient(to left, #ec3fe1 90%, #da3543 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
